body{
    width: 100%;
    background: linear-gradient(180deg, #00174F 14.75%, #0031AA 40.65%, #00174F 76.96%, #0034B5 88.75%);
}

#header-princples{
    background: rgba(0, 23, 79, 1);

}

#found-section{
    width: 1580px;
    max-width: 1500px;
    margin: auto;
}

.principles-row {
    display: flex;
}

.principles-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.principles-col h2 {
    flex-shrink: 0;
}

.principles-col p {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}
